/* style.css */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: black;
    font-family: 'Arial', sans-serif;
    color: white;
}

#welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 2;
}

#welcome-text span {
    color: cyan;
}

#welcome-text:hover {
    color: blue;
    text-shadow: 0 0 20px white;
}

#audio-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid white;
    padding: 2px;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#audio-toggle img {
    width: 20px;
    height: 20px;
    display: block;
}

audio {
    display: none;
}